<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<!--DB接続情報-->
	<connectionStrings>
		<add name="SmaPhoDockInfo" 
		 connectionString="Data Source=10.0.0.42;Initial Catalog=smaphodock24_kouteikanri2;Persist Security Info=True;User ID=sa;Password=o24;Trustservercertificate=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>

		<!-- ReTELA契約コード -->
		<add key="RETELA_CONTRACT_CLIENT_CD" value="K241201"/>
		<!-- 管理コード -->
		<add key="RETELA_MANAGE_CD" value="pyhjfyy"/>
		<!-- ReTELAのAPIパス -->
		<add key="RETELA_URL" value="https://project-mot03.webjapan.co.jp/K241201/WebApi.asmx/"/>
		<!-- 最終日付取得 -->
		<add key="LAST_UPDATE_DATETIME" value="2001/01/01 00:00:00"/>

	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>